.logo {
    width: 40px;
    height: 40px;
}

.logo-text {
    padding-top: 8px;
    margin-top: 5px;
    font-family: serif;
    font-size: 18px;
    font-weight: 600;
    color: rgb(129, 109, 109);

}



.search-input {
    border: none;
    border-bottom: 1px solid lightgrey;
    padding: 5px 10px;
    outline: none;
    margin-right: 10px;
}

.icon {
    font-size: 28px;
    cursor: pointer;
    margin-left: 15px;
    vertical-align: middle;

}

.icon:hover {
    cursor: pointer;
}