.image {
    padding-top: 10px;
    width: 180px;
    height: 230px;
    margin: 0 auto;
    display: block;
}

.card {
    width: 250px;
    height: 450px;
    box-shadow: 1px 4px 3px lightgrey;
    border-radius: 10px;
    margin: 15px;


}

.card:hover {
    box-shadow: 1px 4px 3px rgb(144, 142, 142);
    transition: all 0.5s;
    cursor: pointer;
}

.detail-button {
    border: none;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 8px;
    border-radius: 5px;
    background-color: rgb(144, 142, 142);
    color: white;
}

.detail-button:hover {
    cursor: pointer;
    background-color: rgb(87, 87, 87);
    transition: all 0.5s;
}